<h1>Estamos muy tristes <%= @user.name %></h1>

<p>
  <%= @greeting %>,
  Este no es un adiós si no un hasta pronto
  <%= @user.name %>

  	<br>
 	 Gracias por haber formado parte en nuestro grupo
</p>
