<h1>Estamos muy tristes <%= @user.name %></h1>

<p>
  <%= @greeting %>,
  Hasta pronto
  <%= @user.name %>
  hemos decidido eliminar tu subscripcion

  	<br>
 	 Gracias por haber formado parte en nuestro app
</p>
